.container {
  background-color: rgb(19, 32, 204);
  color: snow;
  padding: 0.1px 0.8rem;
  margin-top: 1rem;
}

.card {
  max-width: 200px;
  margin: 30px;
  border: 1px solid black;
  box-shadow: 5px 5px 10px gray;
}

.card img {
  max-width: 100%;
}
.center {
  display: flex;
  justify-content: space-around;
}
h1 {
  justify-content: center;
}
